<div class="text-light text-center container">
    <h3>Submit a new quote</h3>

    <form #addForm='ngForm' (ngSubmit)='submitQuote();'>
        <div class="form-group">
            <label>Quote</label>
            <input type="text" placeholder="Your quote here..." class="form-control" required [(ngModel)]="newQuote.text" id="text" name="text" #text='ngModel' required>
            <small class="text-danger text-center" [class.d-none]='text.valid || text.untouched'>Quote is required</small>
        </div>

        <div class="form-group">
            <label>Author</label>
            <input type="text" placeholder="Quote by..." class="form-control" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <small class="text-danger text-center" [class.d-none]='author.valid || author.untouched'>Author is required</small>
        </div>

        <div class="form-group">
            <label>Submitted by</label>
            <input type="text" placeholder="Posted by..." class="form-control" [(ngModel)]="newQuote.submitName" name="submitName" #submitName='ngModel' required>
            <small class="text-danger text-center" [class.d-none]='submitName.valid || submitName.untouched'>Name is required</small>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" [(ngModel)]="newQuote.postDate" name="postDate" #postDate='ngModel' required>
        </div>


        <button class="btn btn-dark" type="submit">Add Quote</button>
    </form>
</div>
