* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(https://cdn.dribbble.com/users/333463/screenshots/16067250/media/f5334bd4f9dc243738e765d9790c7cae.png?compress=1&resize=1200x900);
}