
    <h2 class="nav-brand text-center">Welcome to Quotegram</h2>
    <hr>
    <div class>
        <div class="col-sm-6">
            <div *ngFor='let quote of quotes; let i = index' class="card">
                <div>
                    <div class="block">
                        <blockquote class="blockquote mb-0 text-center">"{{quote.text}}" <br>
                            <footer class="blockquote-footer">{{quote.author}}
                                <button (click)='details(i)' class="btn btn-dark text-warning float-right">See more</button>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <br>
                <app-quote-toggle *ngIf='quote.showDetail' [quote]='quote' (seen)='hideQuote($event,i)'></app-quote-toggle>
            </div>
        </div>
    </div>
    <div class="offset-1 col-md-5">
        <app-quote-submit (addQuote)="addAQuote($event)"></app-quote-submit>
    </div>