<div class="toggle">
  
    <button class="btn" (click)="upVote()">
        <img src="https://static.thenounproject.com/png/2907889-200.png" alt="" width="40px" height="40px" style="background: green;">
        <span>{{numberOfLikes}}</span>
    </button>
    <button class="btn" (click)="downVote()">
        <img src="https://static.thenounproject.com/png/2907888-200.png" alt="" width="40px" height="40px" style="background:  red;">
        <span>{{numberOfDislikes}}</span>
    </button>
    <button class="btn" (click)='deleteQuote(true)'>
       
    </button>
</div>
<span class="text-muted">  Posted by: {{quote.submitName}} on {{quote.postDate|date}}</span><br>
<h5 class="text-muted"> {{quote.postDate|timeCount}}</h5>